@import "/avaliacoes/public/global.css";

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2f2f2f, #6c757d);
  font-family: "Poppins", sans-serif;
  font-size: large;
}

h1 {
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40vh;
  min-height: 25vh;
  gap: 12px 10px;
  align-items: center;
  border: 1px solid #555;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.8);
  background-color: #424040;
  justify-content: center;
  padding: 10px;
}

label {
  font-size: 16px;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.form label input {
  padding: 6px;
  border: 1px solid #888;
  border-radius: 3px;
  background-color: #333;
  color: #eee;
  height: 30px;
}

.botao {
  grid-column: span 2;
  padding: 8px;
  margin-top: 10px;
  background-color: #6c757d;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #ddd;
  font-weight: 600;
  transition: background-color 0.3s ease;
  height: 30px;

  width: 80%;
}

.botao:hover {
  background-color: #495057;
}

.error-msg {
  color: #e55353;
  margin-top: 15px;
  font-size: 14px;
}
